<div class="chart">
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas  id="chartId" baseChart
                  #chartsBasePart="base-chart"
                  [datasets]="LineChartData"
                  [labels]="LineChartLabel"
                  [options]="LineChartOptions"
                  [colors]="ChartStyle"
                  [chartType]="LineChartType"
                  [plugins]="LineChartPlugins"
                  [innerHtml]="LineChartLabel"
                 >
      </canvas>
   <div class="content">
    <div class="item" *ngFor="let invoice of invoiceData">
      <div style="font-size: 12px; " >{{ invoice.status }}</div>
      <div class="btn-group">
        <button class="btn">ver</button>
      </div>
  </div>
   </div>
      </div>
    </div>
</div>
