<div class="chart">
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas  id="chartId" baseChart
                  #chartsBasePart="base-chart"

                  [datasets]="LineChartData"
                  [labels]="LineChartLabel"
                  [options]="LineChartOptions"
                  [colors]="ChartStyle"
                  [chartType]="LineChartType"
                  [plugins]="LineChartPlugins"
                  [innerHtml]="LineChartLabel"
                 >
      </canvas>
                <!-- <span *ngFor="let status of Status">{{ status }}</span>
                <div class="btn-group">
                  <button class="btn" *ngFor="let btn of Label">ver</button>
                </div> -->
      </div>
    </div>
</div>
